<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>WebFullStackChallenge</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>Device and Category management system.</p>
    <p>Back-end was developed with NodeJs, Express, Sequelize and MySQL.</p>
    <p>Front-end was developed with Angular and Angular Material.</p>
    <br>
    <p>Developed by José Pábulo - <a href="https://www.linkedin.com/in/josepabulo/" target="_blank">LinkedIn</a></p>
  </mat-card-content>
</mat-card>
