<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-toolbar class="menu">
      <span>Menu</span>
    </mat-toolbar>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon class="menu-icon">home</mat-icon>
        Home
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="menu-icon">category</mat-icon>
        Category
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="menu-icon">devices</mat-icon>
        Device
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <mat-icon>code</mat-icon>
      <span class="project-name">WebFullStackChallenge</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="main-container">
      <div style="width: 100%; height: 500px; border: solid 1px red">Teste</div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
